@model IEnumerable<Day1B.Models.Book>
<div class="row">
    @Html.ActionLink("Create", "create",new{ },new{@class="btn btn-primary"}) 
</div>
<div class="row">
    @foreach(var book in Model) {
    <div class="col-md-4" style="margin-top:2%;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@book.CoverImage" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@book.Name</h5>
                <p class="card-text">@book.Description</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    }
</div>